.btn{
	width: 200px !important;
	height : 60px !important;
	display: table-cell;
	vertical-align: middle;
	font-size: 13px;
	color: black;
	border-color: black;
}

.ovale{
	border-radius: 50%;
	color:white;
}

.page-footer{
	background-color: grey;
	padding: 5px;
}

.navbar{
	background-color: grey;
}

.div-btn{
	direction: rtl;
}

nav{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.navbar{
	padding-bottom: 0px !important;
}

.flex-column{
	justify-content: start !important;
}

.row{
	margin-bottom: 10px !important;
}
